<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings file="config.user">
    		<add key="mongodPath" value="/Applications/mongodb/bin/"/>
        <add key="connectionStringHost" value="localhost"/>
        <add key="authDbPath" value="c:/mdb/NoRMAuth/"/>
		<add key="testPort" value="27701"/>
		<add key="replicaSetTestPath" value="c:/mdb/NoRM_TestRS" />
    </appSettings>
    <connectionStrings>
        <add name="NormTests" connectionString="mongodb://localhost/NormTests?strict=true"/>
    </connectionStrings>
</configuration>