<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings file="config.user">
        <add key="connectionStringHost" value="localhost"/>
        <add key="authDbPath" value="c:/mdb/NoRMAuth/"/>
		<add key="authDbPort" value="27701"/>
    </appSettings>
    <connectionStrings>
        <add name="NormTests" connectionString="mongodb://localhost/NormTests?strict=true"/>
    </connectionStrings>
</configuration>