<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings file="override.config">
		<add key="mongodPath" value="/usr/local/bin/"/>
	    <add key="connectionStringHost" value="localhost"/>
	    <add key="authDbPath" value="/Users/Shared/NoRM_Tests/NoRMAuth/"/>
		<add key="testPort" value="27701"/>
		<add key="replicaSetTestPath" value="/Users/Shared/NoRM_Tests/NoRM_TestRS" />
    </appSettings>
    <connectionStrings>
      <add name="NormTests" connectionString="mongodb://localhost/NormTests?strict=true"/>
    </connectionStrings>
</configuration>